body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(-225deg, #E3FDF5 1%, rgb(253, 222, 247) 100%);
}
header p{
  font-size: 20px;
  position: absolute;
  top: 0; bottom:0; left: 0; right:0;
  margin: auto;
}
img{
  height: 250px;
  width: 250px;
  position: absolute;
  top: 0; bottom:0; left: 0; right:0;
  margin: auto;
  padding-bottom: 320px;
}

.container{
  text-align: center;
  margin-top: 360px;
  position: relative;

}
.btn{
  border: 1px solid #f24437;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.btn1,.btn2{
  color: #f24437;
}
.btn3,.btn4{
  color: #fff;
}
.btn1:hover,.btn2:hover{
  color: #fff;
}
.btn3:hover,.btn4:hover{
  color: #f24437;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #f24437;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before,.btn3::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before,.btn4::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn3::before,.btn4::before{
  height: 180%;
}
.btn1:hover::before,.btn2:hover::before{
  height: 180%;
}
.btn3:hover::before,.btn4:hover::before{
  height: 0%;
}

#dropcontent{
  z-index: 1;
}
#dropcontent1{
  z-index: 1;
}

#dropcontent a{
  display: block;
  font-size: 20px;
  margin-left: 599px;
  margin-right: 599px;
  color: white;
  background-color: #f24437;
  text-decoration: none;
  padding: 10px, 36px;
  margin-top: 2px;
}
#dropcontent1 a{
  display: block;
  font-size: 20px;
  margin-left: 599px;
  margin-right: 599px;
  color: white;
  background-color: #f24437;
  text-decoration: none;
  padding: 10px, 36px;
  margin-top: 2px;
}

#dropcontent2{
  z-index: 1;
}

#dropcontent2 a{
  display: block;
  font-size: 20px;
  margin-left: 500px;
  margin-right: 500px;
  color: white;
  background-color: #f24437;
  text-decoration: none;
  padding: 10px, 36px;
  margin-top: 2px;
}
