body {
  padding: 60px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e3e0cf;
}

h1 {
  text-align: center;
}

header ul{
  text-align: center;
}

.first-button {  
display: inline-block;
text-align: center;
}

table{
  width: 100%;
}

thead{
  background-color: #957DAD;
  color: white;
  padding: 10px;
  margin-bottom: 10px;

}

thead:hover{
  color: black;
}

.tbody td{
  padding: 10px;
  display: inline-block;
}

.tfooter td{
  padding: 10px;
  display: inline-block;
  width: 100%;
}
